

.padding{
  height: 190px;
}

.current-applications-wrapper{
  text-align: left;
}


.current-applications > h1 {
  margin-top: 0px;
  padding-bottom: 19px;
}

.current-applications{
  padding-right: 90px;
  padding-left: 90px;
}


.company-entry{
  vertical-align: middle;
  line-height: .8em;
  padding-right: 90px;
  font-size: 1.5em;
}

.create-header{
  padding-top: 70px;
  font-size: 2em;
}

.current-return-wrapper{
  text-align: left;
  font-size: 2em
}

.company-return{
  padding-top: 50px;
  border-top: dotted grey;
  margin-top: 30px;
  padding-left: 110px;
  padding-right: 80px;
}
